@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root {
   --main-color: #3867d6;
}

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: 0.2s linear;
}
 
html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-padding-top: 7rem;
   scroll-behavior: smooth;
}

html::-webkit-scrollbar {
   width: 1rem;
}

html::-webkit-scrollbar-track {
   background: #444;
}

html::-webkit-scrollbar-thumb {
   background: var(--main-color);
   border-radius: 5rem;
}

body {
   background: #222;
}

section {
   padding: 2rem 9%;
}

.heading {
   text-align: center;
   padding-bottom: 2rem;
   color: #fff;
   text-transform: uppercase;
   font-size: 4rem;
}

.heading span {
   color: var(--main-color);
   text-transform: uppercase;
}

/** Search Bar */
header .icons i {
   font-size: 2.5rem;
   color: #fff;
   cursor: pointer;
   margin-right: 2rem;
}

header .icons i:hover {
   color: var(--main-color);
}

header .search-bar-container {
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   padding: 0.8rem 2rem;
   background: #333;
   border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
   display: flex;
   align-items: center;
   z-index: 1001;
   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
   width: 100%;
   padding: 1rem;
   text-transform: none;
   color: #333;
   font-size: 1.7rem;
   border-radius: 0.5rem;
}

header .search-bar-container label {
   color: #fff;
   cursor: pointer;
   font-size: 3rem;
   margin-left: 1.5rem;
}

header .search-bar-container label:hover {
   color: var(--main-color);
}
/** Header */

.header .logos {
   background-color: #eee;
   width: 180px;
   height: 40px;
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10000;
   background: #303030;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.5rem;
   padding-right: 2%;
   padding-left: 8%;
}

.header .logo {
   font-weight: bolder;
   color: #fff;
   font-size: 3rem;
}

.header .logo span {
   color: var(--main-color);
}

.header .navbar a {
   font-size: 2rem;
   color: #fff;
   margin-left: 2rem;
}

.navbar {
   padding-left: 20%;
}

.header .navbar a:hover {
   color: var(--main-color);
}

#menu-bars {
   font-size: 3rem;
   color: #fff;
   cursor: pointer;
   display: none;
}

/** Home Section With Sliding Photos */

.home .content {
   display: flex;
   align-items: flex-start;
   padding-top: 10rem;
   max-width: 70rem;
}

.home .content h3 {
   color: #3867d6;
   font-size: 4.5rem;
   text-transform: uppercase;
   line-height: 70px;
}

.home .sub-content h4 {
   color: #fff;
   font-size: 2.5rem;
   line-height: 40px;
}

.home .content-2 {
   display: flex;
   align-items: flex-start;
   padding-top: 5rem;
   max-width: 70rem;
}

.home .content-2 h3 {
   color: #3867d6;
   font-size: 4.5rem;
   text-transform: uppercase;
   line-height: 70px;
}

.home .sub-content-2 h4 {
   color: #fff;
   font-size: 2.5rem;
   line-height: 40px;
}
.home .sub-content-2 h4 span {
   color: #3867d6;
   text-transform: uppercase;
}

.container {
   padding-top: 20px;
}

.container form .submit-btn {
   font-size: 1.5rem;
   border-radius: 0.5rem;
   background: #3867d6;
   color: #fff;
   cursor: pointer;
   font-weight: 600;
   width: 230px;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding: 15px 10px;
   margin-top: 5px;
}

.container form .submit-btn:hover {
   background: #303030;
}

/** booking confirmed section styling */

/* media queries  */

@media (max-width: 1050px) {
   html {
      font-size: 50%;
   }

   .header {
      padding: 1.5rem 2rem;
   }

   section {
      padding: 2rem;
   }
}

@media (max-width: 850px) {
   #menu-bars {
      display: initial;
   }

   .header .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: 0.1rem solid #222;
      background: #333;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .fa-times {
      transform: rotate(180deg);
   }

   .header .navbar a {
      display: flex;
      background: #222;
      border-radius: 0.5rem;
      padding: 1.3rem;
      margin: 1.3rem;
      font-size: 2rem;
   }

   .home .content h3 {
      font-size: 4rem;
   }
}

@media screen and (max-width: 500px) {
   .topnav a,
   .topnav input[type='text'],
   .topnav .search-container button {
      float: none;
      display: block;
      width: 70%;
      margin: 0;
   }
   .topnav input[type='text'] {
      border: 1px solid #ccc;
   }
}

@media (max-width: 450px) {
   html {
      font-size: 50%;
   }

   .home .home-slider .swiper-slide {
      width: 27rem;
   }

   .contact form .inputBox input {
      width: 100%;
   }
}
