body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.toastFailure {
	position: absolute;
	top: 25px;
	right: 30px;
	border-radius: 12px;
	background: #fff;
	padding: 20px 35px 20px 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	border-left: 6px solid red;
	overflow: hidden;
	transform: translateX(calc(100% + 30px));
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toastFailure.active {
	transform: translateX(0%);
}

.toastFailure .toast-content {
	display: flex;
	align-items: center;
}

.toast-content .times {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	width: 35px;
	background-color: red;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
}

.toast-content .message {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.message #texts {
	font-size: 17px;
	font-weight: 500;
	color: #666666;
}

.message .text.text-1 {
	font-weight: 600;
	color: #333;
}

.toastFailure .closes {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 5px;
	cursor: pointer;
	opacity: 0.7;
}

.toastFailure .closes:hover {
	opacity: 1;
}

.toastFailure .progresss {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background: #ddd;
}

.toastFailure .progresss:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: red;
}

.progresss.active:before {
	animation: progress 5s linear forwards;
}

@keyframes progress {
	100% {
		right: 100%;
	}
}

button {
	padding: 12px 20px;
	font-size: 20px;
	outline: none;
	border: none;
	background-color: #4070f4;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {
	background-color: #0e4bf1;
}

.toastFailure.active ~ button {
	pointer-events: none;
}
